# jqdata

[JQData](https://www.joinquant.com/help/api/help?name=JQData)是聚宽提供的本地量化金融数据服务。提供1年免费试用账户，每天调用数据限制100万条/天。

## 安装

In [ ]:
!pip install jqdatasdk

In [ ]:
1+1

In [2]:
import configparser
import jqdatasdk as jq

config = configparser.ConfigParser()
config.read("/home/jovyan/configs/dfdata.ini")
jq.auth(config['jqdata']['id'], config['jqdata']['password'])

提示：当前环境pandas版本为0.25，get_price与get_fundamentals_continuously接口panel参数将固定为False
注意：0.25以上版本pandas不支持panel，如使用该数据结构和相关函数请注意修改
auth success

In [22]:
# 查看当天剩余行数
jq.get_query_count()

{'total': 1000000, 'spare': 988269}

## 标的信息

In [10]:
# 所有期货合约
futures_contracts = jq.get_all_securities(['futures'])
futures_contracts.tail(5)

            display_name    name start_date   end_date     type
ZN2103.XSGE        锌2103  zn2103 2020-03-17 2021-03-15  futures
ZN2104.XSGE        锌2104  zn2104 2020-04-16 2021-04-15  futures
ZN2105.XSGE        锌2105  zn2105 2020-05-18 2021-05-17  futures
ZN8888.XSGE        锌期货指数  ZN8888 2007-03-26 2030-01-01  futures
ZN9999.XSGE        锌主力合约  ZN9999 2007-03-26 2030-01-01  futures

## 行情数据

In [23]:
df = jq.get_price(
    'A0501.XDCE', 
    start_date='2004-12-01',
    end_date='2006-1-22',
    frequency='daily', 
    fields=['open', 'close', 'low', 'high', 'volume', 'money', 'factor', 'high_limit','low_limit', 'avg', 'pre_close', 'paused', 'open_interest'])
df

,open,close,low,high,volume,money,factor,high_limit,low_limit,avg,pre_close,paused,open_interest
2005-01-04,2890.0,2868.0,2850.0,2890.0,7968.0,228470700.0,1.0,3067.0,2720.0,2867.353,2893.0,0.0,82760.0
2005-01-05,2856.0,2885.0,2853.0,2900.0,3940.0,113509300.0,1.0,3040.0,2695.0,2880.949,2867.0,0.0,82298.0
2005-01-06,2875.0,2889.0,2873.0,2890.0,2072.0,59709000.0,1.0,3053.0,2708.0,2881.708,2880.0,0.0,82438.0
2005-01-07,2898.0,2893.0,2885.0,2898.0,2318.0,67094200.0,1.0,3054.0,2709.0,2894.487,2881.0,0.0,82140.0
2005-01-10,2899.0,2885.0,2885.0,2900.0,2922.0,84534200.0,1.0,3068.0,2721.0,2893.025,2894.0,0.0,82386.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df2 = jq.get_price(['ZN2104.XSGE', 'ZN9999.XSGE'], start_date='2020-05-10', end_date='2020-05-10', frequency='daily', fields=None, skip_paused=False, fq='pre', count=None, panel=True, fill_paused=True)
df2

Empty DataFrame
Columns: [time, code, open, close, high, low, volume, money]
Index: []